/* channel-list.component.css */
.hamburger-button {
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger-line {
  width: 25px;
  height: 2px;
  background: black;
  margin-bottom: 4px;
  margin-left: -6px;
}

.channel-list {
  height: calc(100% - 24px);
  width: 250px;
  background-color: #f3f4f6;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .channel-list {
    position: fixed;
    left: 0;
    z-index: 1;
    width: fit-content;
    max-width: 75%;
    height: fit-content;
    border: 1px solid rgba(0, 0, 255, 0.2);
  }
}

.channel-list-label {
  color: #333;
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.channel-list ul {
  list-style-type: none;
  padding: 0;
}

.channel-list-item {
  background-color: rgba(0, 0, 255, 0.2);
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  height: 20px;
  vertical-align: middle;
  justify-items: center;
  border: 1px solid rgba(0, 0, 255, 0.2);
}

.channel-list-item-active {
  background-color: gray;
}
