<!-- channel-list.component.html -->
<button class="hamburger-button" (click)="toggleChannelsPanel()">
    <div class="hamburger-line"></div>
    <div class="hamburger-line"></div>
    <div class="hamburger-line"></div>
  </button>
  
<div class="channel-list" *ngIf="showChannelsPanel">
    <div class="channel-list-label">Select a Channel</div>
    <ul>
        <li *ngFor="let channel of channelList" class="channel-list-item" [ngStyle]="{'background-color': (toChannel !== null && toChannel !== undefined) && channel.name === toChannel.name ? 'rgba(0, 0, 255, .2)': 'lightgray'}">
            <div (click)="channelChanged(channel.name)">
                {{ channel.name }}
            </div>
        </li>
    </ul>
</div>