<div class="streaming-windows">
    <div class="video-streaming-windows" [ngStyle]="{'display': isVideoVisible === true? 'flex' : 'none'}">
        <div class="video-streaming-window">
            <video id="localVideo" class="video-streaming"></video>
            <div class="video-streaming-name">You</div>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="video-streaming-window">
            <video autoplay="true" id="remoteVideo" class="video-streaming"></video>
            <div class="video-streaming-name">{{toChannelName}}</div>
        </div>
    </div>
    <div class="audio-streaming-windows" [ngStyle]="{'display': isAudioVisible === true? 'flex' : 'none'}">
        <div class="audio-streaming-window">
            <audio controls id="localAudio" class="audio-streaming"></audio>
            <div class="audio-streaming-name">You</div>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="audio-streaming-window">
            <audio controls autoplay="true" id="remoteAudio" class="audio-streaming"></audio>
            <div class="audio-streaming-name">{{toChannelName}}</div>
        </div>
    </div>
    <div class="chat-button-stop">
        <button (click)="StopStreaming()" class="button-stop-icon"
            [ngStyle]="{'display': isVideoVisible || isAudioVisible === true ? 'flex' : 'none'}">
            <fa-icon class="faIcon"[icon]="faStop"></fa-icon>
        </button>
    </div>
</div>