.chat-window-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-window {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  box-sizing: border-box;
  background-color: white;
}

.chat-message {
  display: flex;
  flex-direction: row;
  width: 1oo%;
}

.message-received {
  background-color: rgba(245, 222, 179);
  padding: 6px;
  min-height: 20px;
  text-align: left;
  justify-items: center;
  justify-content: center;
  font-size: 14px;
  margin-bottom: 10px;
  border: #45a049 1px solid;
  border-radius: 4px;
  overflow-wrap: anywhere;
  width: 75%;
}

.message-sent {
  background-color: rgba(245, 222, 179, 0.5);
  padding: 6px;
  min-height: 20px;
  text-align: right;
  justify-items: center;
  justify-content: center;
  font-size: 14px;
  margin-bottom: 10px;
  border: #45a049 1px solid;
  border-radius: 4px;
  overflow-wrap: anywhere;
  width: 75%;
}

.message-time {
  text-align: right;
  font-size: 10px;
  color: darkgray;
}

/* chat-text-box.component.css */
.chat-box-container {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.chat-text-box {
  display: flex;
  align-items: center;
  background-color: #f3f4f6;
  padding: 10px;
  border-top: 1px solid #e1e1e1;
  box-sizing: border-box;
  width: 100%;
  background-color: rgba(245, 222, 179, 0.3)
}

.chat-box {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.media-input-box {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.chat-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chat-button-stop {
  align-items: end;
  padding-left: 10px;
}

.button-icon {
  background-color: #f3f4f6;
  opacity: 0.5;
  border:1px solid rgba(245, 222, 179, 0.3);
  padding: 0px;
  width:30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 16px;
}

.send-video {
  background-color: rgba(245, 222, 179, 0.3);
  width:200px;
  height: auto ;
  color: white;
  border: none;
  padding: 0px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  display: block;
}

.send-audio {
  background-color: rgba(245, 222, 179, 0.3);
  width:200px;
  height: 30px ;
  color: white;
  border: none;
  padding: 0px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  display: block;
}

.send-video-input {
  background-color: rgba(245, 222, 179, 0.3);
  width:200px;
  height: auto ;
  color: white;
  border: none;
  padding: 0px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  display: block;
}

.send-audio-input {
  background-color: rgba(245, 222, 179, 0.3);
  width:200px;
  height: 30px ;
  color: white;
  border: none;
  padding: 0px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  display: block;
}

.message-input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
  width:100%;
}

.send-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #45a049;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
}
